---
import { type CollectionEntry, getCollection } from "astro:content";
import { render } from "astro:content";
import Prose from "../../components/Prose.astro";
import DisplayFrequency from "../../components/DisplayFrequency.astro";
import MainLayout from "../../layouts/MainLayout.astro";

export async function getStaticPaths() {
  const stations = await getCollection("stations");
  return stations.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}
type Props = CollectionEntry<"stations">;

const station = Astro.props;
const { Content } = await render(station);
---

<MainLayout title={station.data.name} description={station.body}>
  <h1 class="font-bold text-4xl text-center m-auto">{station.data.name}</h1>
  <table class="border-collapse m-auto">
    <tr class="border-t-2 border-b-2">
      <td class="text-right pr-2">Callsign: </td>
      <td>{station.data.callsign}</td>
    </tr>
    <tr class="border-t-2 border-b-2">
      <td class="text-right pr-2">Frequency: </td>
      <td>
        <DisplayFrequency frequency={station.data.frequency} />
      </td>
    </tr>
  </table>
  <Prose>
    <Content />
  </Prose>
</MainLayout>
