---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import ButtonLink from "../../components/ButtonLink.astro";
import { bigint } from "astro:schema";

const radioClubs = (await getCollection("radioClubs"))
  .sort((a, b) => a.data.name.localeCompare(b.data.name));

const title = "Radio Clubs";
const description = "local Amateur Radio Clubs";
---

<MainLayout title={title} description={description}>
  <h1 class="text-2xl font-bold text-center m-auto">{title}</h1>
  <div class="flex flex-col flex-nowrap m-auto">
    {
      radioClubs.map((club) => (
        <ButtonLink href={club.data.website}>
          <div>{club.data.name}</div>
          <div class="text-sm">{club.data.callsign}</div>
        </ButtonLink>
      ))
    }
  </div>
</MainLayout>
